$my-font:  Chivo, sans-serif;
$my-green: #54E6AF;
$my-dark-grey: #2C344B;
$my-black: #121725;
$my-white: #FFFFFF;
$my-grey: #5A668A;
$my-light-grey: #C2CBE5;
$border-padding: 7.5%;

body {
    background-color: $my-black;
}

h1 {
    font-family: $my-font;
    font-weight: 300;
    font-size: 3rem;
    color: $my-green;
    text-transform: uppercase;
}

p {
    font-family: $my-font;
    font-weight: 300;
    font-size: 1.2rem;
    color: $my-light-grey;
}

.btn {
    font-family: $my-font;
    font-weight: 700;
    padding: 10px 20px 10px 20px;
    background-color: $my-green;
    border-radius: 25px;
}







